.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
    margin: 2em .5em 1em;
    padding: .2em 1em;
    border: 2px solid #00a0d2;
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
    display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border-color: #dc3232;
}

.wpcf7 form.spam .wpcf7-response-output {
    border-color: #f56e28;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #ffb900;
}

.wpcf7-form-control-wrap {
    position: relative;
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
    position: relative;
    top: -2ex;
    left: 1em;
    z-index: 100;
    border: 1px solid #dc3232;
    background: #fff;
    padding: .2em .8em;
    width: 24em;
}

.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
    content: " ";
}

.wpcf7-spinner {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d;
    opacity: .75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative;
}

form.submitting .wpcf7-spinner {
    visibility: visible;
}

.wpcf7-spinner::before {
    content: "";
    position: absolute;
    background-color: #fbfbfc;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100%;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
    .wpcf7-spinner::before {
        animation-name: blink;
        animation-duration: 2000ms;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.wpcf7 [inert] {
    opacity: .5;
}

.wpcf7 input[type="file"] {
    cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
    cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
    direction: ltr;
}

.wpcf7-reflection>output {
    display: list-item;
    list-style: none;
}

.wpcf7-reflection>output[hidden] {
    display: none;
}

[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
    color: #777;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

[class^="wp-block-"].alignleft,
[class^="wp-block-"] .alignleft {
    margin-right: 24px;
}

[class^="wp-block-"].alignright,
[class^="wp-block-"] .alignright {
    margin-left: 24px;
}

p.has-drop-cap:not(:focus)::first-letter {
    font-size: 5em;
    margin-top: .1em;
}

.wp-block-image figure {
    margin-bottom: 24px;
}

.wp-block-image figcaption {
    margin: -7px 0 20px;
    padding: 9px 9px 1em;
    text-align: center;
}

.wp-block-image.alignfull,
.wp-block-image.alignfull img {
    margin: 0;
}

.wp-block-gallery {
    margin: 0 0 24px;
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    left: 0;
    right: 0;
    width: auto;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border: none;
    padding: 0 3em;
}

.wp-block-quote cite {
    color: inherit;
    font-size: inherit;
    font-weight: 600;
}

.wp-block-audio {
    margin-left: 0;
    margin-right: 0;
}

.wp-block-audio audio {
    display: block;
    width: 100%;
}

.rtl .wp-block-file *+.wp-block-file__button {
    margin: 0 0 0 .75em;
}

.wp-block-code {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.wp-block-pullquote p {
    font-size: 1.5em;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite {
    color: inherit;
    font-size: inherit;
    font-weight: 600;
    text-transform: none;
}

.wp-block-table td,
.wp-block-table th {
    border: none;
}

.wp-block-table td {
    border-top: 1px solid #e7e7e7;
}

.wp-block-table tr:nth-child(odd) td {
    background: #f2f7fc;
}

.wp-block-separator {
    border: 0;
}

.wp-block-media-text {
    margin-bottom: 24px;
}

.wp-block-archives.aligncenter,
.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter {
    margin-left: 20px;
    text-align: center;
}

.rtl .wp-block-archives.aligncenter,
.rtl .wp-block-categories.aligncenter,
.rtl .wp-block-latest-posts.aligncenter {
    margin-left: 0;
    margin-right: 20px;
}

.wp-block-latest-comments {
    margin: 0 0 24px;
}

.wp-block-latest-posts.is-grid {
    margin-left: 0;
    margin-right: 0;
}

.has-blue-color,
.has-blue-color:visited {
    color: #06c;
}

.has-blue-background-color,
.has-blue-background-color:visited {
    background-color: #06c;
}

.has-black-color,
.has-black-color:visited {
    color: #000;
}

.has-black-background-color,
.has-black-background-color:visited {
    background-color: #000;
}

.has-medium-gray-color,
.has-medium-gray-color:visited {
    color: #666;
}

.has-medium-gray-background-color,
.has-medium-gray-background-color:visited {
    background-color: #666;
}

.has-light-gray-color,
.has-light-gray-color:visited {
    color: #f1f1f1;
}

.has-light-gray-background-color,
.has-light-gray-background-color:visited {
    background-color: #f1f1f1;
}

.has-white-color,
.has-white-color:visited {
    color: #fff;
}

.has-white-background-color,
.has-white-background-color:visited {
    background-color: #fff;
}