body::-webkit-scrollbar {
  width: 4px;
}

@font-face {
  font-family: 'Queensides';
  src: 
       url('/fonts/queensides-font/Queensides-3z7Ey.ttf') format('truetype');
     
 
}
body {
  /* background-color: #020202; */
  background-color: white;
  overflow-x: hidden !important;
  
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #D19A23;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  text-transform: uppercase;
  font-size: 13px !important;
  letter-spacing: 0.5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #fff !important;
}

.dropdown-menu {
  border-top: 2px solid #D19A23 !important;
  border-radius: 0 !important;
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: #D19A23 !important;
}

.bg-pattern {
  position: relative;
  /* padding: 10px 30px; */
  /* z-index: 0;
  height: 100%;
  background-image: url(../images/body/body-bg.gif); */
}

/* .bg-pattern:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0.9;
} */

.company-name-heading {
  text-transform: uppercase;
  margin-right: 5px;
  color: #D19A23;
}

.navbar-brand img {
  position: relative;
  max-width: 150px;
}

.navbar-brand:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-brand img:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.navigation {
  border-radius: 25px;
  /* background-color: #222425;
  border: 1px solid #5e5e5e; */
  padding: 0 0 5px 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100000000;
  transition: all 0.5s;
  background-color: transparent;
  margin-bottom: 5px;
}

.navigation .nav-list {
  padding: 10px 0 0 10px;
}

.nav-btn {
  padding: 5px 0 0 10px;
}

.nav-grid {
  padding: 10px 0 0 15px;
}

.nav-grid span:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: #D19A23;
}

.navigation li:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.navigation .nav-link {
  font-weight: 500;
  position: relative;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: black;
  
}

.navigation .nav-link:hover {
  background-color: #f0eaea;
  border-radius: 3px;
  color:black;
  font-weight: bold;
  font-size: 12px;
}

.navigation .nav-link:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-outer {
  display: grid;
  position: relative;
  transition: all 0.2s linear;
}

.btn-outer:focus {
  outline: none;
  box-shadow: none;
}

.btn-inner {
  padding: 3px 20px;
  border: 2px solid #D19A23;
  border-radius: 100px;
  text-decoration: none;
  color: black;
  font-size: 10px;
  transition: all 0.2s linear;
}

.btn-inner:focus {
  outline: none;
  box-shadow: none;
}

.btn-inner:hover {
  background-color: #D19A23;
  color: #fff;
  transition: all 0.2s linear;
}

.btn-inner div {
  font-size: 15px;
  font-weight: 700;
  margin-top: -3px;
}

.btn-inner b {
  top: 5px;
  z-index: 1;
  right: -25px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  border-radius: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  border: 3px solid #474545;
  background-color: #D19A23;
}

.btn-inner b:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.navigation i {
  color: #fff;
  font-size: 25px;
}

.navigation .modal.left .modal-dialog {
  position: fixed;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #000;
  width: 40%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.navigation .modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.navigation .modal.right .modal-body {
  padding: 15px 15px 80px;
}

.navigation .modal.right.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.navigation .modal.right.fade.show .modal-dialog {
  right: 0;
}

.navigation .modal-content {
  border-radius: 0;
  border: none;
  padding: 40px;
}

.navigation .modal-header {
  border-bottom-color: transparent;
  background-color: transparent;
  display: block;
  margin-left: 0px;
}

.navigation .modal-img-part {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}

.navigation .modal-img-part img:nth-child(1) {
  width: 150px;
  height: 150px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-90deg);
  display: block;
}

.navigation .modal-img-part img:nth-child(2) {
  width: 150px;
  height: 150px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-90deg);
  display: block;
}

.navigation .modal-img-part img:nth-child(3) {
  width: 150px;
  height: 150px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-90deg);
  display: block;
}

.inner-faq {
  text-transform: uppercase;
}

.navigation .modal-nav {
  padding-top: 60px;
}

.navigation .modal-nav .modal-nav-link {
  font-size: 16px;
}

.navigation .modal-nav a {
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* nav end */

/* slider start */

.slider {
  position: relative;
  overflow: hidden;
  height: 85vh;
  width: 100%;
  /* border-radius: 50px; */
}

.slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
}

.slide {
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
}

.slide.active {
  transform: translateX(-100%);
}

.hero-visit-btn-part {
  color: #fff;
  padding: 20px 15px;
  position: absolute;
  opacity: 0;
  bottom: 6%;
  background-color: transparent;
  left: 0px;
  text-align: start;
  max-width: 400px;
  z-index: 10;
}

.hero-visit-btn-part:focus {
  outline: none;
  box-shadow: none;
}

.slide .info {
  color: #fff;
  /* padding: 20px 15px; */
  position: absolute;
  opacity: 0;
  top: 30%;
  right: 0px;
  text-align: start;
  max-width: 100%;
  z-index: 100;
}

.slide .info-tes {
  color: #fff;
  padding: 20px 15px;
  position: absolute;
  opacity: 0;
  top: 25%;
  background-color: transparent;
  left: 130px;
  text-align: start;
  max-width: 400px;
  z-index: 10;
}

.slide.active .hero-visit-btn-part {
  opacity: 1;
  transform: translateX(50px);
  transition: all 1.2s ease-in-out 1.5s;
}

.slide.active .info-tes {
  opacity: 1;
  transform: translateX(-60px);
  transition: all 0.8s ease-in-out 1s;
}

.slide.active .info {
  opacity: 1;
  transform: translateY(-40px);
  transition: all 0.5s ease-in-out 0.8s;
}

.slide .info h1 {
  font-size: 65px;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.3;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.subtitle-shape {
  position: absolute;
  left: -0%;
  margin-left: -20px;
  margin-top: 5px;
}

.slide .info h6 {
  padding-left: 85px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 20px;
  color: #D19A23;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 5px;
}

.eraser.active {
  transform: translateX(-100%);
}

.buttons-container {
  position: absolute;
  left: 45px;
  top: 20%;
  z-index: 1000;
}

.buttons-container button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0px 20px;
}

.buttons-container button:first-child::before {
  content: "/";
  position: absolute;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
}

@media (max-width: 400px) {
  .slide .info {
    top: 100px;
    left: 10px;
  }
}

.hero-btn-part.hero-small-btn .hero-btn-part-circle {
  background-color: #D19A23;
  width: 60px;
  height: 60px;
  transition: all 0.3s linear;
}

.hero-btn-part.hero-small-btn .hero-btn-part-circle:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.hero-btn-part.hero-small-btn .hero-btn-part-link {
  font-size: 16px;
  transition: all 0.3s linear;
}

.hero-btn-part.hero-small-btn:hover .hero-btn-part-link {
  color: #fff;
  letter-spacing: 2px;
  transition: all 0.3s linear;
}

.hero-btn-part {
  padding-top: 30px;
  position: relative;
  transition: all 0.3s linear;
}

.hero-btn-part .hero-btn-part-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s linear;
}

.hero-btn-part .hero-btn-part-circle {
  width: 80px;
  height: 80px;
  border-radius: 200px;
  border: 2px solid #D19A23;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  margin-right: 20px;
  transition: all 0.3s linear;
}

.hero-btn-part .hero-btn-part-circle:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.hero-btn-part:hover .hero-btn-part-circle {
  background-color: #D19A23;
  transition: all 0.3s linear;
}

.hero-btn-part:hover .hero-btn-part-link {
  color: #D19A23;
  transition: all 0.3s linear;
}

.hero-btn-part .hero-btn-part-circle:focus {
  outline: none;
  box-shadow: none;
}

.disk {
  position: absolute;
  right: 3%;
  bottom: 15%;
  z-index: 100;
  animation: disk 2s linear infinite;
}

.box {
  
  position: absolute;
  right: 0;
  width: 20%;
  height: 15%;
  bottom: 0;
  z-index: 100;
  border-top-left-radius: 50px;
  background-color: white;
}

@keyframes disk {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tes-details {
  padding-top: 20px;
  display: flex;
}

.tes-details img {
  border-radius: 100px;
  max-width: 65px;
  height: 100%;
}

.tes-details h4 {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.testimonal-slide {
  font-size: 14px;
  color: #dcdcdc;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
/* slider end */

/* about-section start */
.section-size {
  position: relative;
  max-width: 90%; /* Reduced max width for better centering */
  margin: 0 auto; /* Center align */
  height: auto;
  padding: 20px 40px; /* Left and right padding for spacing */
}

.mt-space {
  margin-top: 60px;
}

.mb-space {
  margin-bottom: 60px;
}

.side-img-part,
.side-txt-part {
  position: relative;
  max-width: 100%;
}

.about-img-box {
 
  position: relative;
}

.about-img-box .about-img-box-main-img {
  max-width: 100%;
  position: relative;
}

.about-section-card {
  position: absolute;
  max-width: 100%;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.about-section-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 15;
}

.about-section-card .about-section-card-txt {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-section-card-txt h3 {
  -webkit-text-stroke-width: 0.8px;
  font-size: 110px;
  color: transparent;
  font-weight: bold;
  -webkit-text-stroke-color: #fff;
}

.about-section-card-txt h5 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}

.about-section-card .about-card-img {
  width: 218px;
  height: 245px;
  position: relative;
}

.about-txt-part {
  padding: 20px 40px; /* Added padding for better spacing */
}

.about-bottom-area {
  padding-top: 50px;
  border-top: 1px solid #3a3a3a;
}

.about-button-part {
  display: flex;
  flex-wrap: wrap;
}
/* about-section end */


/* circle-btn start */

.circle-btn-area {
  position: relative;
  padding-left: 30px;
  display: flex;
}

.circle-btn {
  width: 70px;
  height: 70px;
  border-radius: 200px;
  border: 2px solid #D19A23;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-btn:focus {
  outline: none;
  box-shadow: none;
}

.circle-btn .circle-btn-round-btn {
  width: 55px;
  border: none;
  height: 55px;
  color: #fff;
  border-radius: 200px;
  background-color: #474545;
}

.circle-btn .circle-btn-round-btn :focus {
  outline: none;
  box-shadow: none;
}

.circle-btn .circle-btn-round-btn i {
  font-size: 20px;
}

.circle-btn-text {
  position: relative;
  margin-left: 15px;
  padding-top: 5px;
}

.circle-btn-text h6 {
  color: #D19A23;
  font-size: 16px;
  padding-bottom: 0px;
}

a {
  color: #fff;
  text-decoration: none !important;
}

.circle-btn-text h4 {
  color: #fff !important;
  text-decoration: none !important;
  font-size: 22px;
  font-weight: 700;
}
/* circle-btn end */

/* main-heading start */
.main-heading {
  position: relative;
  padding-bottom: 20px;
}

.main-heading h6 {
  
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 20px;
  color: #D19A23;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 15px;
  font-family: "Inter", sans-serif;
}

.main-heading h1 {
  font-size: 40px;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.3;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.main-heading svg {
  position: absolute;
  left: -0%;
  top: 0;
  margin-left: -20px;
  margin-top: 2px;
}

.main-heading p {
  color: #afafaf;
  font-size: 18px;
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  font-weight: 400;
}
/* main-heading end */

/* main-clk-btn start */

.main-clk-btn {
  padding: 16px 45px;
  background-color: #D19A23;
  border-radius: 200px;
  height: 100%;
  border: 2px solid #D19A23;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s linear;
  font-family: "Inter", sans-serif;
}

.main-clk-btn:focus {
  outline: none;
  box-shadow: none;
}

.main-clk-btn:hover {
  transition: all 0.3s linear;
  background-color: transparent;
}

/* main-clk-btn end */

/* service-section start */
.service-section {
  background-color: #131414;
}

.lg-disk {
  position: absolute;
  max-width: 50%;
  left: 1%;
  top: 1%;
  animation: disk 3s linear infinite;
}

.lg-disk-inner {
  position: absolute;
  max-width: 50%;
  right: 1%;
  top: 1%;
  animation: disk 3s linear infinite;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  background: transparent;
  top: 95%;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:first-child {
  left: 47%;
  transform: translateX(-53%);
}

.wrapper #left::after {
  content: "/";
  position: absolute;
  color: #fff;
  left: 100%;
}

.wrapper i:last-child {
  right: 47%;
  transform: translateX(53%);
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) - 0px);
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  gap: 30px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 350px;
  list-style: none;
  background: transparent;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 0px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* service-section end */

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s ease;
  transition: all 0.3s linear;
}

.cards:hover {
  transform: rotateY(180deg);
}

.cards .side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cards .front {
  background-color: transparent;
  color: #fff;
  padding: 0px;
  background-image: url(../images/ser-back.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.front-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.service-icon {
  max-width: 60px;
}

.service-name {
  font-size: 20px;
  padding-top: 20px;
  font-weight: 600;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.service-para {
  display: -webkit-box;
  max-width: 350px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  line-height: 1.8;
  font-weight: 400;
  color: #afafaf;
}

.cards .back {
  background-color: transparent;
  transform: rotateY(180deg);
  background-image: url(../images/ser-back2.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.cards .back img {
  max-width: 100%;
  position: absolute;
  z-index: 0;
  right: 50%;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}

.back-content {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateY(-40%) translateX(-50%);
}

.back-content::before {
  width: 100%;
  height: 100%;
  padding: 20px;
  content: "";
  /*backdrop-filter: blur(2px);*/
  z-index: 1;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
}

.back-content .service-name {
  color: #fff;
  position: relative;
  z-index: 100;
  padding: 5px 0 0 5px;
}

.back-content .service-para {
  color: #fff;
  position: relative;
  z-index: 100;
  padding: 5px 0 0 5px;
}

.service-btn {
  padding: 21px 5px;
  background-color: #131414;
  border: 2px solid #D19A23;
  border-radius: 200px;
  color: #fff;
  opacity: 1;
  transition: all 0.3s linear;
}

.service-btn:focus {
  outline: none;
  box-shadow: none;
}

.service-btn span {
  padding: 15px 18px;
  background-color: #D19A23;
  border-radius: 200px;
}

.service-btn-area {
  position: absolute;
  top: 18%;
  left: 18%;
  z-index: 200;
}
/* service end */

/* footer start */
footer {

  position: relative;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #afafaf;
  overflow: hidden;
}

.footer-logo img {
  max-width: 100px;
}

.address {
  color: #fff;
  font-size: 14px;
  line-height: 2;
}

footer i {
  color: #fff;
}

.footer-txt {
  max-width: 350px;
  padding-top: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  font-family: "Inter", sans-serif;
}

.footer-heading {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

footer ul {
  list-style: none;
  margin-left: -30px;
}

footer li {
  line-height: 38px;
}

footer li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

footer li a:hover {
  color: #D19A23;
}

.social {
  display: flex;
  margin-top: 10px;
}

.social a {
  color: #fff;
  margin: 0px 30px 0 0;
}

.social a:hover {
  color: #D19A23;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #D49826 !important;
}
.copyright a {
  color: #D19A23;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #afafaf;
  /* margin-top: 20px; */
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
/* footer end */

/* steps start */
.steps {
  display: block;
  position: relative;
}

.step-title {
  display: none;
}

.step-button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: #131414;
  transition: 0.4s;
  color: #fff;
  position: relative;
  margin-bottom: 40px;
}

.step-button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.step-button[aria-expanded="true"] {
  width: 75px;
  height: 75px;
  background-color: #D19A23;
  color: #fff;
  position: relative;
}

.step-button[aria-expanded="true"]::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 90px;
  border-radius: 200px;
  left: -7px;
  height: 90px;
  background-color: #D19A23;
  color: #fff;
  border: 2px solid #D19A23;
  top: -7px;
  background-color: #131414;
}

.done {
  background-color: #2c2c2c;
  color: #fff;
}

.step-item {
  z-index: 10;
  text-align: center;
}

#progress {
  -webkit-appearance: none;
  position: absolute;
  width: 1px;
  z-index: -1;
  top: 0%;
  left: 45%;
  transform: translateX(-55%);
  height: 100%;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* to customize progress bar */
#progress::-webkit-progress-value {
  background-color: #D19A23;
  transition: 0.5s ease;
}

#progress::-webkit-progress-bar {
  background-color: #2c2c2c;
}

/* step end */

/* howwework-section start */
.howwework-section .accordion {
  border: none !important;
  --bs-accordion-border-width: 0px !important;
  --bs-border-width: 0px !important;
}

.main-heading.less-space-heading {
  padding-bottom: 10px;
  max-width: 800px;
}

.work-card,
.work-card-body {
  position: relative;
  max-width: 100%;
  height: auto;
}

hr {
  color: #afafaf;
  padding-bottom: 25px;
}

.work-card-body h3 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.work-card-body p {
  font-size: 16px;
  color: #afafaf;
  line-height: 1.7;
  padding-top: 20px;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* howwework-section end */

/* breadcrumb-section start */

.breadcrumb-section {
  position: relative;
  max-width: 100%;
  height: 500px;
  border-radius: 50px;
}

.breadcrumb-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
 
  z-index: 1;
}

.breadcrumb-section-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
 
  height: 100%;
}

.breadcrumb-content {
  left: 50%;
  bottom: -6%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 100;
}

.bread-txt {
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
}

.bread-txt h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.bread {
  background-color: #D19A23;
  padding: 15px 50px 0px;
  border: 5px solid #474545;
  border-radius: 200px;
}

.bread:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.bread a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.bread .active {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
/* breadcrumb-section end */

/* inner-contact-start */
.main-contact-form {
  background-color: #181a1a;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
}

.inner-contact-section {
  position: relative;
  z-index: 100;
}

.main-contact-form h3 {
  color: #fff;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.main-contact-form p {
  font-size: 16px;
  color: #afafaf;
  font-family: "Inter", sans-serif;
  padding-bottom: 30px;
}

.main-contact-form .form-top-label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.main-contact-form .form-box {
  background-color: transparent !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #2c2c2c;
  height: 55px !important;
  padding-left: 0;
}

.main-contact-form input::placeholder {
  color: #2c2c2c;
  font-weight: 400;
}

.main-contact-form .form-control:focus {
  border-color: #2c2c2c;
  outline: none;
  box-shadow: none;
  background-color: #D19A23;
  color: #fff;
}

.form-box-lg {
  background-color: transparent !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #2c2c2c;
  padding-left: 0;
}

.form-submit-btn {
  padding: 15px 40px;
  background-color: #D19A23;
  border-radius: 200px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: none;
}

.form-submit-btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

/*.main-map {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
*/
.map-section {
  margin-top: 30px;
  position: relative;
  z-index: 0;
  margin-bottom: 50px;
}

.inner-contact-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.form-link-txt {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

.form-link-txt h4 {
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.form-link-txt h6 {
  color: #afafaf;
  font-weight: 500;
  line-height: 1.8;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media(max-width:992px){
  .form-link-txt{
    flex-direction: column;
    /* align-items: center; */
    max-width: 100%;
  }
}
.inner-contact-address {
  padding-top: 10px;
  max-width: 60%;
}

.innner-email {
  background-color: #232424;
  padding: 10px;
  border-radius: 200px;
  border: none;
}
/* inner-contact-end */

/* inner-portfolio-section start */

.inner-portfolio-section {
  margin-bottom: 30px;
}

.inner-portfolio-card {
  position: relative;
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
  transition: all 0.2s linear;
}

.inner-portfolio-card-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.2s linear;
  opacity: 0;
}

.inner-portfolio-card:hover .inner-portfolio-card-header::before {
  opacity: 1;
  transition: all 0.2s linear;
}

.inner-portfolio-card-header {
  position: relative;
  width: 100%;
  transition: all 0.2s linear;
  overflow: hidden;
}

.inner-portfolio-card:hover .inner-portfolio-main-img {
  transform: scale(1.05, 1.05);
  transition: all 0.2s linear;
  border-radius: 20px;
}

.inner-portfolio-main-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: all 0.2s linear;
  border-radius: 20px;
}

.inner-portfolio-card-body {
  position: relative;
  max-width: 100%;
  height: auto;
  padding-top: 20px;
}

.inner-portfolio-card-body h3 {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.inner-portfolio-card-body p {
  font-size: 16px;
  color: #afafaf;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.inner-portfolio-card-body i {
  font-size: 20px;
}

.inner-portfolio-card-btn {
  padding: 10px 20px;
  background-color: #afafaf;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 100px;
}

.inner-portfolio-card-btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.portfolio-type-btn-part {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 100;
}

.portfolio-view-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #D19A23;
  color: #fff;
  border-radius: 200px;
  z-index: 1000;
}

.portfolio-view-btn {
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  transform: translate(-50%, -70%);
  transition: all 0.2s linear;
}

.portfolio-view-btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.inner-portfolio-card:hover .portfolio-view-btn {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
}
/* inner-portfolio-section end */

/* modal start*/
.modal {
  position: fixed;
  z-index: 10000000;
  top: 0%;
  --bs-modal-width: 700px;
  overflow-y: hidden;
}

.modal-backdrop {
  --bs-backdrop-zindex: 0;
}

.modal-header {
  border-bottom: none;
  padding: 0;
}

.modal-body {
  padding: 0;
  border-radius: 30px;
  margin-top: 10px;
}

.modal-body img {
  max-width: 100%;
  border-radius: 30px;
}

.modal-content {
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 30px;
  outline: 0;
}

.btn-close {
  filter: brightness(0) invert(1);
  opacity: 1;
}

.btn-close:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
/* modal end */

/* choose-card start */
.choose-card {
  max-width: 100%;
  height: auto;
  position: relative;
  transition: all 0.2s linear;
}

.choose-card-link {
  font-size: 15px;
  opacity: 0;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
}

.choose-card:hover .choose-card-link {
  opacity: 1;
  transition: all 0.2s linear;
}

.choose-card:hover {
  background-color: #222425;
  transition: all 0.2s linear;
}

.choose-card-header-img {
  max-width: 100%;
  transition: all 0.2s linear;
}

.choose-card:hover .choose-card-header-img {
  filter: brightness(0) invert(1);
  transition: all 0.2s linear;
}

.choose-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 20px;
  transition: all 0.2s linear;
}

.choose-card-header-img-outer {
  width: 100px;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: 1.5px solid #5e5e5e;
  transition: all 0.2s linear;
}

.choose-card-header-img-inner {
  width: 85px;
  height: 85px;
  padding: 15px;
  background-color: #474545;
  border-radius: 200px;
  transition: all 0.2s linear;
  position: relative;
}

.choose-card:hover .choose-card-header-img-inner {
  transform: scale(1.2, 1.2);
  background-color: #D19A23;
  transition: all 0.2s linear;
}

.choose-card-body {
  text-align: center;
  padding: 25px 10px 20px;
}

.choose-card-body h4 a {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  text-decoration: none;
  padding-bottom: 10px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.choose-card-body p {
  display: -webkit-box;
  max-width: 350px;
  -webkit-line-clamp: 3;
  font-size: 15px;
  font-weight: 400;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  line-height: 1.8;
  color: #afafaf;
}

/* choose-card end */

/* milestone-section start */

.milestone-btn-part {
  padding-top: 50px;
}

.milestone-bg {
  position: absolute;
  right: 0;
  bottom: 5%;
  max-width: 40%;
  z-index: -1;
}

.milestone-side-card {
  display: block;
}

.milestone-side-card {
  padding-top: 20px;
  display: flex;
  position: relative;
}

.milestone-side-card:hover .k-skape {
  opacity: 0;
}

.k-skape {
  width: 40px;
  height: 40px;
  left: 6%;
  bottom: -3%;
  border-radius: 100px;
  background-color: #D19A23;
  position: absolute;
  z-index: -1;
}

.milestone-side-card img {
  opacity: 0.7;
  margin-right: 20px;
  max-width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.milestone-side-card-body {
  opacity: 0.8;
}

.milestone-side-card-body span:first-child {
  display: block;
  font-size: 50px;
  line-height: 1;
  color: #fff;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.milestone-side-card-body span:last-child {
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.milestone-main-img {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.milestone-txt-part {
  padding: 0px 40px;
}

/* milestone-section end */

/* back to top start */

.back-to-top {
  position: fixed;
  bottom: -40px;
  right: -40px;
  display: block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.3);
  z-index: 100000;
  transition: all 0.3s;
}

.back-to-top::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  border: 1.5px solid #D19A23;
  border-radius: 50%;
  height: 100%;
  left: 0px;
}

.back-to-top:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.back-to-top.show {
  bottom: 40px;
  right: 20px;
  opacity: 1;
  transform: scale(1);
}
.back-to-top.show:hover {
  bottom: 30px;
  opacity: 1;
}
.arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;
  transform: rotate(-90deg);
  top: 30%;
  left: 40%;
  filter: grayscale(100%);
}
.arrow:nth-child(2) {
  top: 42%;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: rotate(-90deg) translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
}

.back-to-top:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.back-to-top:hover .arrow:nth-child(2) {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* back to top end */

/* loader start */

.loader img {
  max-width: 150px;
  animation: loader 0.5s linear infinite;
}

@keyframes loader {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

html,
body {
  overflow: hidden;
}

.page-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  z-index: 10000000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loader end */

/* inner-about-section start */
.inner-about-img1 {
  position: relative;
  max-width: 100%;
  z-index: 0;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* .inner-about-img2 {
  position: relative;
  max-width: 100%;
  z-index: 100;
  margin-left: 30px;
  margin-top: 80px;
} */

.inner-about1-txt {
  padding: 20px 40px 0 40px;
}

.inner-about-card {
  padding: 20px;
  position: relative;
  height: 300px;
  max-width: 100%;
  background-color: #181a1a;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
  color: #afafaf;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border-radius:20px;
}

.about-inner-collapse .accordion-button {
  padding: 1.5rem 0rem;
  background-color: transparent;
  border-bottom: 1px solid #3e3e3e;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.about-inner-collapse .accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-body {
  padding: 20px 0;
}

.accordion-body p {
  line-height: 1.8;
  color: #afafaf;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.about-inner-collapse .accordion-button:not(.collapsed) {
  color: #D19A23;
  background-color: transparent;
  box-shadow: none;
}

.about-inner-collapse .accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: transparent;
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* inner-about1-section end */
.k-skape {
  display: none;
}

.back-content::before {
  backdrop-filter: inherit;
  opacity: 0.5;
}
/*@media screen and (min-width: 320px) and (max-width: 768px) {
p{text-align:center;}
.footer-txt{text-align:center;}
.choose-card-body p {text-align:center;}
}*/

/* how we work ///////////////////////////////////////////////////////////*/

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
}

/* Slides */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
} */

/* The dot/bullet/indicator container */
.dot-container {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 65px;
  position: relative;
  display: block;
  width: 65px;
  margin-bottom: 25px;
  text-align: center;
  padding-top: 30%;
  color: #fff;
  background-color: #232424;
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.6s ease;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  display: none;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  /* background-color: #e9e4d9; */
 
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
::placeholder {
  color: #6d6d6d !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #6d6d6d !important;
}
.copyright {
     text-align: center;
}
 @media only screen and (min-width:320px) and (max-width: 876px) {
 .breadcrumb-content {
  left: 50%;
  bottom: -6%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
}
 }

.logos{
  /* height: 90px; */
  width:70px;
}






 .navbar .container-fluid {
  padding-inline: 4rem;
  /* height: 60px; */
    }

.logos{
  /* height: 120px; */
  /* width:100%; */
  height: 100%;
  /* margin-top: 60px; */
}

@media screen and (max-width: 768px) {
  .logos{
    /* height: 90px; */
   
    margin-top: 0px;
    
  }
  .navbar .container-fluid {
    padding-inline: 2rem;
    height: 80px;
    
      }

      .navigation .nav-link {
        font-weight: 500;
        position: relative;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        color: white;
        
      }

      .navbar-collapse {
        position: absolute;
        background-color: rgba(0, 0, 0, 1);
        backdrop-filter: blur(10px);
        top: 105%;
        width: 100%;
        left: 0;
        border-radius: 25px;
        padding: 50px 30px;
        transition: all 0.2s linear;
        margin-top: 20px;
      }
    


}
@media(max-width:992px){
  .navigation .nav-link{
    color: white;
  }
}

.shades{
  background: rgba(0,0,0,.43);
  border-radius: 20px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}
.smallhead{
  color: #D19A23;
  
 
}

.rightssym{
  height:20px;
  width:20px;
 
}

/**whatsapp**/

.whatsapp {
  position: fixed;
  bottom: 6.5rem; /* Start off screen */
  right: 1.4rem; /* Adjust as needed */
  z-index: 999;
  border-radius: 50%;

  /* background-color:black; */
  animation: slideDown 2s forwards;
  
}
.whatsapp a i {
  color: #FCC900;
  font-size: 2rem;
display: flex;
justify-content: center;
align-items: center;
  border-radius: 50%;
padding: 0.7rem !important;
background-color: black;
  animation: round 2s linear infinite;
}

.dropdown-item.active{
  background-color:#FCC900 ;
}

.honetags{
  font-size: 30px !important;
  color: #000;
}

